In [1]:
from population_init import generate
from character import CharacterType
#from src.stats import random_stats

N = 20
maxStatsValue = 150
type = CharacterType.ARCHER

#equipment_data = random_stats(N, maxStatsValue)
poblacion_inicial = generate(N,maxStatsValue,type)

#poblacion_inicial

In [2]:
#Añado las columnas de desempeño relativo y acumulado
from selection import add_relative_acumulate
poblacion_rel_acu = add_relative_acumulate(poblacion_inicial)
poblacion_rel_acu

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
19,55,5,70,6,14,1.8,CharacterType.ARCHER,1004.244632,0.186184,0.186184
18,87,9,36,13,5,1.8,CharacterType.ARCHER,824.231580,0.152810,0.338994
12,58,16,37,20,19,1.7,CharacterType.ARCHER,634.164955,0.117572,0.456566
6,53,30,28,28,11,1.7,CharacterType.ARCHER,496.116649,0.091979,0.548545
4,34,16,28,37,35,1.4,CharacterType.ARCHER,321.095199,0.059530,0.608075
2,26,8,30,66,20,2.0,CharacterType.ARCHER,255.571180,0.047382,0.655457
16,43,72,8,22,5,1.9,CharacterType.ARCHER,248.130197,0.046003,0.701459
8,12,14,61,41,22,1.5,CharacterType.ARCHER,225.634782,0.041832,0.743291
17,53,54,4,27,12,1.6,CharacterType.ARCHER,187.611807,0.034783,0.778074
5,10,25,54,58,3,2.0,CharacterType.ARCHER,173.423358,0.032152,0.810226
7,9,36,52,36,17,1.5,CharacterType.ARCHER,159.778658,0.029622,0.839849
9,17,40,20,54,19,1.7,CharacterType.ARCHER,142.495303,0.026418,0.866267
3,17,79,13,33,8,1.8,CharacterType.ARCHER,131.982590,0.024469,0.890736
0,5,9,78,6,52,1.4,CharacterType.ARCHER,127.134418,0.023570,0.914306
1,16,18,19,80,17,1.7,CharacterType.ARCHER,112.589379,0.020874,0.935180
15,10,1,31,8,100,1.4,CharacterType.ARCHER,111.759450,0.020720,0.955900
11,7,8,33,42,60,1.8,CharacterType.ARCHER,87.535171,0.016229,0.972129
10,22,2,10,96,20,1.7,CharacterType.ARCHER,73.590337,0.013643,0.985772
14,27,13,5,8,97,1.5,CharacterType.ARCHER,63.457939,0.011765,0.997537
13,1,68,27,46,8,1.6,CharacterType.ARCHER,13.284767,0.002463,1.000000

#### Seleccion de k indiduos
A*(método1) + (1-A)*(método2)

In [3]:
import numpy as np
#Dado un K
#Si quiero un 40% de la selección con metodo1
K = 10
m1_perc = 0.3
N1 = int(np.round(K * m1_perc))
N2 = K - N1
#N1

In [4]:
from selection import elitist_selection
nueva_poblacion_e = elitist_selection(poblacion_rel_acu,N1)
#nueva_poblacion_e

In [5]:
from selection import roulette_wheel_selection
nueva_poblacion_rul = roulette_wheel_selection(poblacion_rel_acu, N2)
#nueva_poblacion_rul

In [6]:
import pandas as pd
selection_total = pd.concat([nueva_poblacion_e,nueva_poblacion_rul])
selection_total

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,55,5,70,6,14,1.8,CharacterType.ARCHER,1004.244632,0.186184,0.186184
1,87,9,36,13,5,1.8,CharacterType.ARCHER,824.23158,0.15281,0.338994
2,58,16,37,20,19,1.7,CharacterType.ARCHER,634.164955,0.117572,0.456566
0,58,16,37,20,19,1.7,CharacterType.ARCHER,634.164955,0.117572,0.456566
1,7,8,33,42,60,1.8,CharacterType.ARCHER,87.535171,0.016229,0.972129
2,16,18,19,80,17,1.7,CharacterType.ARCHER,112.589379,0.020874,0.93518
3,10,25,54,58,3,2.0,CharacterType.ARCHER,173.423358,0.032152,0.810226
4,17,79,13,33,8,1.8,CharacterType.ARCHER,131.98259,0.024469,0.890736
5,12,14,61,41,22,1.5,CharacterType.ARCHER,225.634782,0.041832,0.743291
6,26,8,30,66,20,2.0,CharacterType.ARCHER,255.57118,0.047382,0.655457

In [23]:
from genes import  encode_genes

cromosomas = encode_genes(selection_total)
#cromosomas

In [9]:
from crossover import single_point_crossover
new_individuals = single_point_crossover(cromosomas)
#new_individuals

In [10]:
from genes import decode_genes
cromosomas_decoded = decode_genes(new_individuals)
#cromosomas_decoded

In [11]:
from crossover import valid_offspring
offspings, offspring_ok = valid_offspring(cromosomas_decoded)

print(f"Cantidad de hijos validos: {offspings}")
offspring_ok

Cantidad de hijos validos: 2

   strength  agility  expertise  resistance  life  height
3      58.0     16.0       37.0        20.0  19.0     1.7
4      58.0     16.0       37.0        20.0  19.0     1.7

- Cantidad de hijos validos: 4
-     strength  agility expertise	resistance	life  height  type	                performance	 performance_relative   performance_accumulated
- 5	  2	        30	    3	        6	        109	  2.0	  CharacterType.ARCHER	6.277699	 0.001625	            1.0
- 6	  50	    18	    3	        18	        61	  1.7	  CharacterType.ARCHER	119.533975	 0.030933	            0.881345
- 9	  4	        39	    92	        4	        11	  1.4	  CharacterType.ARCHER	106.010218	 0.027433	            0.908778
- 10  4	        39	    92	        4	        11	  1.4	  CharacterType.ARCHER	106.010218	 0.027433	            0.908778

In [19]:
from crossover import two_point_crossover

new_individuals2 = two_point_crossover(cromosomas)
#new_individuals2

In [20]:
from genes import decode_genes
cromosomas_decoded2 = decode_genes(new_individuals2)
#cromosomas_decoded2

In [21]:
from crossover import valid_offspring
offspings, offspring_ok = valid_offspring(cromosomas_decoded2)

print(f"Cantidad de hijos validos: {offspings}")
offspring_ok

Cantidad de hijos validos: 2

   strength  agility  expertise  resistance  life  height
3      58.0     16.0       37.0        20.0  19.0     1.7
4      58.0     16.0       37.0        20.0  19.0     1.7